.logo {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--latter-spacing-mean);
}
.logo_style_dark {
  color: #212121;
  margin-right: 92px;
}
.logo__style {
  color: #2196f3;
}
